body {
    background-color: #fafafa;
    color: #333;
    font-family: "Ubuntu";
    font-weight: 300;
}

a,
a:visited,
a:focus {
    text-decoration: none;
}

header,
footer {
    margin: 15px 0;
}

footer p {
    font-size: 15px;
}

.graph-section,
.extremes-section {
    margin-top: 20px;
    margin-bottom: 40px;
}

.extremes-section strong {
    color: #337ab7;
}

.graph {
    margin: 0 10%;
}

.graph-canvas {
    width: 100% !important;
    height: 350px;
}

.graph-caption {
    margin-top: 10px;
}
