body {
    background-color: #fafafa;
    color: #333;
    font-family: "Ubuntu";
    font-weight: 300;
}

a,
a:visited,
a:focus {
    text-decoration: none;
}

header,
footer {
    margin: 15px 0;
}

header h1 {
    text-align: center;
}

footer p {
    font-size: 15px;
}

.graph-section {
    margin: 20px 0;
}

.img-responsive {
    margin: 0 auto;
}
